.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-y);
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (min-width: 768px) {
    .profile {
        height: 50vw;
        width: 50vw;
    }
}
@media (min-width: 992px) {
    .profile {
        height: 40vw;
        width: 40vw;
    }
}
@media (min-width: 576px) {
    .profile {
        height: 60vw;
        width: 60vw;
    }
}
.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}
.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}



@media (min-width: 992px) {
    .profile .profile-img {
        height: 45vw;
    }
}

@media (min-width: 768px) {
    .profile .profile-img {
        height: 55vw;
    }
}

@media (min-width: 576px) {
    .profile .profile-img {
        height: 65vw;
    }
}

.profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}
.fa-solid{
    box-sizing: border-box;
}
